/* General */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

*,
*::after,
*::before {
    padding: 0px;
    margin: 0px;
}

html,
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: normal;
    color: white;
    scroll-behavior: smooth;
}

li,
ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1300px;
    margin: auto;
}

.none {
    display: none;
}

/* Nav & Header */

.header {
    min-height: 600px;
    background-image: url(./img/background-corvette.jpg);
    background-size: cover;
    background-position: center;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 98px;
}

.menu-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 70px;
}

.menu-list_item {
    font-size: 24px;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid white;
    opacity: 1;
    transition: color 0.2s ease-in, transform 0.2s ease-in, border 0.2s ease-in;
}

.header-line {
    background-color: #fff;
}

.nav-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 420px;
}

.nav-content_title {
    width: 23ch;
    font-size: 36px;
    margin-bottom: 20px;
    white-space: nowrap;
    overflow: hidden;
    color: #e93b32;
    border-right: 3px solid white;
    animation: flashing-border 1s step-end infinite, printed-text 2s steps(23);
    transition: transform 0.2s ease-in;
}

.nav-content_text {
    font-size: 28px;
    animation: text 3s 1;
    transition: color 0.2s ease-in, transform 0.2s ease-in;
}

/* Main */

.main {
    background-color: #090909;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-menu_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 68px;
    grid-row-gap: 36px;
    max-width: 1200px;
    padding-bottom: 100px;
}

.main-menu_list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease-in;
}

.main-menu_list-item>img {
    width: 100%;
    max-width: 300px;
}

.main-title {
    text-align: center;
    padding: 50px 0px;
    font-size: 52px;
}

.hidden-text {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.2s ease-in, transform 0.2s ease-in;
}

/* About us */

#about-us {
    padding-bottom: 100px;
}

.about-us_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-us_content-text {
    max-width: 800px;
    text-align: justify;
    font-size: 24px;
    line-height: 32px;
}

.about-us_content-carousel {
    max-width: 1000px;
    padding-bottom: 100px;
    position: relative;
}

.about-us_content-carousel>img {
    width: 100%;
    box-shadow: 0 0 20px #e93b32;
}

.fade {
    animation: fade 5s ease-in-out infinite;
}

/* Footer */

.footer {
    background-color: #070707;
}

.footer-title {
    text-align: center;
    padding: 50px;
}

/* Car page */

.nav-car {
    background-color: #070707;
}

.main-car {
    background-color: #090909;
}

#car-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.car-details_content {
    text-align: center;
}

.car-details_content img {
    max-width: 600px;
    height: 100%;
    transition: transform 0.2s ease-in;
}

.car-details_content h2 {
    font-size: 28px;
    padding-bottom: 50px;
}

.car-details_content p {
    font-size: 22px;
    padding-bottom: 50px;
    text-align: center;
    line-height: 30px;
}

/* Comments */

.comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
}

.comment {
    width: 400px;
    padding-bottom: 20px;
}

.comment-title {
    text-align: center;
    padding-bottom: 50px;
}

#name {
    font-size: 20px;
    padding-bottom: 10px;
}

#comment-text {
    flex-wrap: wrap;
    word-wrap: break-word;
    line-height: 25px;
}

/* Animation */

.menu-list_item:hover {
    color: #e0655e;
    transform: scale(1.1);
    border: 1px solid #e93b32;
}

.nav-content_text:hover,
.nav-content_title:hover,
.main-menu_list-item:hover,
.car-details_content img:hover {
    transform: scale(1.2);
}

.main-menu_list-item:hover .hidden-text {
    opacity: 1;
    transform: translateY(0);
}

@keyframes flashing-border {
    0% {
        border-color: white;
    }

    50% {
        border-color: transparent;
    }

    100% {
        border-color: white;
    }
}

@keyframes printed-text {
    from {
        width: 0;
    }
}

@keyframes text {
    0% {
        margin-top: -40px;
        opacity: 0%;
    }

    80% {
        margin-top: -40px;
    }

    82% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes fade {

    0%,
    100% {
        opacity: 0;
    }

    20%,
    80% {
        opacity: 1;
    }
}

@media(max-width:1100px) {
    .header {
        min-height: 800px;
    }

    .nav-content {
        padding-top: 100px;
    }

    .nav-content_title {
        font-size: 48px;
    }

    .nav-content_text {
        font-size: 32px;
    }

    .hidden-text {
        font-size: 32px;
    }

    .main-menu_list {
        grid-template-columns: repeat(1, 1fr);
    }

    .about-us_content-carousel {
        max-width: 700px;
    }

    .menu-list_item {
        margin: 50px 0px;
        font-size: 36px;
    }

    .about-us_text {
        line-height: 40px;
    }

    .footer-title {
        font-size: 28px;
    }
}